.pnpm-debug.log*
.env

client/.env
client/build/

server/.env
server/node_modules/
server/dist/
server/cookies.txt
server/admin_cookies.txt
server/coverage/

*.log
logs/
*.log.*

**/.DS_Store
Thumbs.db

**/.vscode/
**/.idea/

**/.tmp/
*.tmp

package-lock.json
